body {
    text-align: center;
    font-family: arial;
    color: black;
    background-color: cadetblue;
    
}

.main {
    font-size: 200%;
}

.faixa {
    border: 5px dotted black;
}

.insideMenu, table, td, tr, th{
    margin: auto;
    border: 2px solid red;    
}