body {
    text-align: center;
    font-family: arial;
    color: black;
    background-color: cadetblue;
}

h1.main {
    font-size: 200%;
}

div.menu {
    margin: auto;
    border: 2px dotted black;
    padding: none;
    width: 100%;
}

div.min {
    margin: auto;
    border: none;
    padding: 5px;
    height: 50px;
    float: inherit;
}